<mat-toolbar #mainToolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 id="system-title">Daily Assistent</h1>
</mat-toolbar>

<mat-sidenav-container #sidenavContainer [style.marginTop.px]="64">
    <mat-sidenav #sidenav mode="side" opened="true" fixedInViewport="true" fixedToGap="64">
        <mat-list role="list">
            <mat-list-item role="listItem">1</mat-list-item>
            <mat-list-item role="listItem">2</mat-list-item>
        </mat-list>
    </mat-sidenav>
    <mat-sidenav-content>
        teste
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>